.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 40px 30px 40px;
    background-color: #111113;
    box-shadow: 0px -5px 20px -15px rgba(252, 250, 250, 1);
}

.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link > i {
    color: white;

}

.nav__btn > a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-comment__dot, .nav__dot {
    display: block;
    border-radius: 50%;
    background-color: tomato;
    position: relative;
    right: -40px;
    top: -10px;

}

.fa-comment__dot {
    font-size: 15px;
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__dot {
    width: 5px;
    height: 5px;
}