.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--header-padding); /*25px 20px;*/
    padding-top: 45px;
    color: white;
}

.screen-header h1 {
    font-size: 28px;
    font-weight: 600;
}

.screen-header__items span {
    padding-left: 20px;
}

@keyframes sizeUpHover {
   0% {
    transform: none;
   }
   50% {
    transform: scale(2.0, 1.5);
   }
   100% {
    transform: scale(1.5, 1.0 );
   }
}

.screen-header__items span > i:hover {
    cursor: pointer;
    animation: sizeUpHover 0.7s ease-in-out;
}

