.status-bar {
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin-bottom: 25px;
}

.status-bar__column {
  font-size: 16px;
  text-align: center;
}

.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.fa-signal, .fa-battery-quarter {
    margin: 0px 3px;
}

@keyframes batteryBeat {
    0%{
        color: orange;
        transform: none;
    }
    50%{
        color: red;
        transform: scale(1.2);
    }
    100% {
        color: orange;
        transform: none;
    }
}

.fa-battery-quarter {
    color: orange;
    animation: batteryBeat 0.3s linear infinite;
}


