body {
    background-color: #000000;
}

.top-btn {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    padding: 5px;
}

.top-btn span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
}

.top-btn_tomato {
    background-color: tomato;
}

.top-btn_orange {
    background-color: orange;
}

.top-btn_green {
    background-color: #2CC93F;
}

.top-btn span > i {
    padding-top: 2px;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.top-btn span > i:hover {
    opacity: 0.5;
}

.login-bubble {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 40px;
}

.login-bubble span:first-child {
    font-size: 40px;
    font-weight: 600;
    color: white;
    position: relative;
    top: 70px;
}

.fa-comment {
    color: var(--purple_three);
}

#login-form {
    display: flex;
    flex-direction: column;
    margin: 0 50px;    
}

#login-form input {
    background-color: white;
    border: none;
    padding: 15px 0;
    font-size: 20px;
    
}

#login-form input::placeholder {
   text-align: center;
   color: rgba(128, 128, 128, 0.5);
   font-weight: 400;
}

#login-form input[type="submit"] { 
    margin-top: 10px;
    color: white;
    background-color: var(--purple_three);
}

#login-form input:not([type="submit"]) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-bottom 0.3s ease-in-out;
}

#login-form input:focus {
    border-bottom: 2px solid var(--purple_three);
}



.login-form__loginbox {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.login-form__loginbox > * {
    margin-right: 5px;
}

.login-form__loginbox label {
    color: white;
}

.login-form__loginbox i {
    color: var(--purple_two);
}
